@model DommunBackend.DomainLayer.DTOs.AgenteDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AgenteDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoContacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoContacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoPerfil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoPerfil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AceptaArriendo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AceptaArriendo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AceptaVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AceptaVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publicado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publicado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioArriendoMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioArriendoMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioVentaMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioVentaMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionPerfil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionPerfil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroAvaluo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroAvaluo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicioPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicioPlan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedesSociales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RedesSociales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZonificacionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZonificacionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanMembresiaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanMembresiaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MunicipioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MunicipioId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
